body{
    height: 100vh;
    background-image:linear-gradient(#CDB4DB,#FFC8DD,#FFAFCC,#BDE0FE,#A2D2FF) ;
}

.mood *{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 5px rgb(255,255,255,0.3)inset, -5px -5px 5px rgb(0,0,0,0.3)inset,5px 5px 5px rgb(50,50,50,0.3);
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    color:ivory;
}

.happy{
    background-color: #FfE66D;
    top:40%;
    left:10%;
}

.sad{
    background-color: #292F36;
    top:10%;
    left:25%;
}

.angry{
    background-color: #FF6B6B;
    top:30%;
    left:40%;
}

.comfortable{
    background-color: #F7FFF7;
    top:50%;
    left:60%;
    color:#292F36
}

.cheerful{
    background-color: #4ECDC4;
    top:40%;
    left:80%;
}