<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>초기 화면</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="mood">
            <div class="happy">happy</div>
	        <div class="sad">sad</div>
	        <div class="angry">angry</div>
            <div class="comfortable">comfortable</div>
            <div class="cheerful">cheerful</div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="script.js"></script> 
    </body>
</html>