<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/music.css" />
    <script async src="music.js"></script>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div id="wrapper">
        <div id="player">
            <audio id="audio" src=""></audio>
            <div id="album-image">
            </div>
            <div id="controls">
                <button id="prev"><i class="bi bi-rewind-fill"></i></button>
                <button id="play-pause"><i class="bi bi-play-fill"></i></button>
                <button id="next"><i class="bi bi-fast-forward-fill"></i></button>
            </div>
            <div id="control-volume">
                <button id="speaker">소리</button>
                <input type="range" id="volume" min="0" max="1" step="0.1" value="1">
            </div>
            <div id="progress-bar">
                <div class="progress"></div>
            </div>
            <div id="time">
                <span id="current-time">0:00</span>
                <span id="duration">0:00</span>
            </div>
        </div>

        <div id="nowplaying">
            <div id="song">
                <div id="title">Youngblood</div>
                <div id="singer">5 Seconds Of Summer</div>
            </div>
            <div id="lyrics">
                Remember the words you told me<br>Love me 'til the day I die <br>Surrender my everything <br>'Cause you
                made me believe you're mine <br>Yeah you used to call me baby<br>Now you're calling me by name you
            </div>
        </div>

        <div id="sharing">
            <p><textarea id="sharingbox" placeholder="Input some text."></textarea></p>
            <a href="/timeline"><input type="submit" id="submitBtn" value="Submit"></a>
        </div>

        <div id="playlist">
            <ul id="songs">
              <li data-src="https://www.playurbanomp3.com/Albums/2020/Camilo%20-%20Por%20Primera%20Vez%202020/10%20-%20Camilo,%20Shakira,%20Pedro%20Cap%c3%b3%20-%20Tutu%20-%20Remix.mp3" class="active-song">Tutu Remix - Camilo Ft. Shakira, Pedro Capó</li>
              <li data-src="https://www.playurbanomp3.com/Canciones/Don%20Omar/05.%20Don%20Omar%20-%20Aunque%20Te%20Fuiste%20(WwW.PlayUrbano.Com).mp3">Aunque Te Fuiste - Don Omar</li>
              <li data-src="https://www.playurbanomp3.com/Canciones/Don%20Omar/Don%20Omar,%20Rakim%20&%20Ken-Y%20-%20Si%20La%20Ves%20(WwW.PlayUrbano.Com).mp3">Si La Vez - Don Omar Ft. RKM Y Ken-Y</li>
              <li data-src="https://www.playurbanomp3.com/Canciones/Don%20Omar/Don%20Omar,%20Wisin%20&%20Yandel%20-%20My%20Space%20(WwW.PlayUrbano.Com).mp3">My Space - Don Omar Ft. Wisin Y Yandel</li>
            </ul>
          </div>
    </div>
</body>

</html>
